/* Color Theme Swatches in RGBA */
:root {
    --verde_escuro: rgba(61, 62, 46, 1);
    --verde: rgba(70, 111, 41, 1);
    --verde_claro: rgb(119, 139, 104);
    --marrom_claro: rgba(191, 146, 104, 1);
    --marrom: rgba(55, 37, 23, 1);
    --marrom_escuro: rgba(55, 31, 21, 1);
    --bege: rgb(231, 193, 157);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bege);
}

main {
    border: 15px dashed var(--verde_claro);
    box-sizing: border-box;
}

h2 {
    color: var(--marrom);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li, ul {

    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--marrom_escuro);
    padding: 2px;
}

/* definição padrão de link de tranferencia - a melhorar */

a {
    color: var(--marrom);
    text-decoration: none;
}

a:hover {
    color: var(--bege);
}

/* definição padrão do input */

input {
    font-size: 18px;
    text-align: center;
    height: 45px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: var(--verde_claro);
    background-color: var(--verde_escuro);
}

input::placeholder {
    color: var(--verde_claro);
}

input:focus {
    outline: none;
    border: 2px dashed var(--verde_claro);
}

input:hover {
    border: 2px dashed var(--verde_claro);
}

/* definição padrão do botão */

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--marrom);
    color: var(--marrom);
    background-color: var(--marrom_claro);
}


button:hover{
    transform: scale(1.1);
    border-radius: 5px;
    border: 2px dotted var(--bege);
    color: var(--bege);
    background-color: var(--marrom);
}

/* definição do header */

.principal {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 500px;
    display: flex;
    font-size: 80px;
    color: var(--bege);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* definição da tela de login */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login input {
    font-size: 35px;
    height: 60px;
    width: 800px;
    padding: 5px;
    margin: 10px;
}

/* definição das listas */

.cad-cliente {
    background-color: var(--verde);
}
.cad-livro {
    background-color: var(--verde);
}
.cad-aluguel {
    background-color: var(--verde);
}

.listaClientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}